---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	
	<header>
		<div class="cf-container">
			<h3
				class="text-center py-3 border-b border-b-white/30 font-semibold"
			>
				METODO EXCLUSIVO PARA [NICHO]
			</h3>
		</div>
	</header>
	<section class="md:pt-[60px] py-[40px] md:pb-[80px]">
		<div class="cf-container">
			<p class="text-center mb-4">Prueba social</p>
			<h1 class="text-center text-[24px] md:text-[32px] font-bold leading-[120%]">EL PASO A PASO PARA [DESEO] Y DEJAR DE [DOLOR]</h1>
			<p class="mt-4 text-center">Mira el video y descubri como ya +X personas lograron [DESEO]</p>
			<div class="border-4 rounded-[12px] md:rounded-[16px] border-red-500 mt-8 max-w-[750px] mx-auto">
				<div class="p-2 text-center font-bold bg-red-500">
					CLIC PARA ACTIVAR EL SONIDO
				</div>
				<div class="bg-gray-300 aspect-video rounded-br-[8px] md:rounded-br-[12px] rounded-bl-[8px] md:rounded-bl-[12px]">

				</div>
			</div>
		</div>
	</section>
	<section class="pb-[60px]">
		<div class="max-w-[700px] mx-auto px-4">
			<p class="text-white text-[18px]">
				Todos piensan que [CREENCIA LIMITANTE], pero no consiguen resultados 
				porque hay algo que estan haciendo MUY mal.
				<br><br>
				Imaginate que [ANALOGIA].
				<br><br>
				Tener [PUNTO DIFERENCIAL] es lo mejor que te puede pasar si tu objetivo es [DESEO].
				<br><br>
				✅ Beneficio 1
				<br>
				✅ Beneficio 2
				<br>
				✅ Beneficio 3
				<br>
				✅ Beneficio 4
				<br><br>
				Pero... Lo tenes que hacer BIEN y acá te dejo el paso a paso para que
				dejes de [DOLOR] de una vez por todas y sin [ESFUERZO].
				<br><br>
				Paso 1:
				<br><br>
				Paso 2:
				<br><br>
				Paso 3:
				<br><br>
				Paso 4:
				<br><br>
				Podes aplicar todo esto vos, contratar a [COMPETENCIA] 
				para que [PUNTO NEGATIVO DE LA COMP], o nos podes contratar a nosotros que 
				[PRUEBA SOCIAL || GARANTIA]	y tenemos resultados reales para clientes reales.
				<br><br>
				Si te interesa hacé clic en el botón de abajo, ahi vas a tener toda la información
				sobre como podemos [garantizarte || asegurarte] que en [TIEMPO] vas a estar
				[DESEO] y no te vas a precupar nunca más por [DOLOR].
			</p>
			<div class="mt-8">
				<a class="cf-btn" href="/">CTA</a>
				<p class="text-center mt-4 text-white/80">PD: [GARANTIA || URGENCIA REAL]</p>
			</div>
		</div>
	</section>

	<footer>
		<p class="text-center text-white/70 pb-8">
			© [NEGOCIO] 2025. Todos los derechos reservados.
		</p>
	</footer>

</Layout>