---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>
	
	<header>
		<div class="cf-container">
			<h3
				class="text-center text-[14px] py-3 border-b border-b-white/30 font-semibold"
			>
				<!-- For people selling high ticket stuff... -->
				PARA [NICHO]
			</h3>
		</div>
	</header>
	<section class="md:pt-[60px] py-[40px] md:pb-[60px]">
		<div class="cf-container">

			<h1 class="text-center text-[24px] md:text-[32px] font-bold leading-[120%]">
				<!-- ej: How I'm generating 300 - 400 new clients per month by spending $170/day on ads, getting back $340+ the same day while booking calls in which I sell $2700/m retainers -->
				Como [yo/mis clientes] [DESEO] [TIEMPO] [SIN ESFUERZO]. Mientras [BENEFICIO]
			</h1>
			
			<p class="mt-4 text-center">
				<!-- ej: With Ugly Ads and Auto Converting Offers I launch in an afternoon that generate me pre-sold buyer leads, day and night. -->
				Con [METODO SIMPLE]
			</p>

			<img class="w-[600px] h-[200px] bg-gray-400 mx-auto mt-8 max-w-full" src="" alt="">

		</div>
	</section>
	<section class="pt-[60px] pb-8 bg-white">
		<div class="max-w-[700px] mx-auto px-4">
			<p class="text-gray-950 text-[18px]">
				Todos piensan que [CREENCIA LIMITANTE], pero no consiguen resultados 
				porque hay algo que estan haciendo MUY mal.
				<br><br>
				Imaginate que [ANALOGIA].
				<br><br>
				Tener [PUNTO DIFERENCIAL] es lo mejor que te puede pasar si tu objetivo es [DESEO].
				<br><br>
				✅ Beneficio 1
				<br>
				✅ Beneficio 2
				<br>
				✅ Beneficio 3
				<br>
				✅ Beneficio 4
				<br><br>
				Pero... 
				<br><br>
				Lo tenes que hacer BIEN.
				<br><br>
				Y acá te dejo el paso a paso para que
				dejes de [DOLOR] de una vez por todas y sin [ESFUERZO].
				<br><br>
				Paso 1:
				<br><br>
				Paso 2:
				<br><br>
				Paso 3:
				<br><br>
				Paso 4:
				<br><br>
				Podes aplicar todo esto vos, contratar a [COMPETENCIA] 
				para que [PUNTO NEGATIVO DE LA COMP]
				<br><br>
				O podes agendar una llamada gratis con nosotros que 
				<br><br>
				[VENTAJA 1]
				<br>
				[VENTAJA 2]
				<br>
				[VENTAJA 3]
				<br><br>
				Y además...
				<br><br>
				[PRUEBA SOCIAL || GARANTIA]
				<br><br>
				Si alguna vez quisiste:
				<br><br>
				<!-- 
				EJ:
				Stop chasing,
				Start selling,
				And make money without selling your soul to a 67-step webinar funnel…
				-->
				[DOLOR],
				<br>
				[BENEFICIO],
				<br>
				[BENEFICIO 2]
				<br><br>
				Hacé clic en el botón de abajo.
				<br><br>
				Ahi vas a tener toda la información
				sobre como podemos [garantizarte || asegurarte] que en [TIEMPO] vas a estar
				[DESEO] 
				<br><br>
				Y no te vas a precupar nunca más por [DOLOR].
			</p>
		</div>
	</section>

	<section>
		<div class="py-8 px-4">
			<h3 class="text-center text-white mb-4 font-bold italic">Agenda una llamada conmigo y [BENEFICIO DE LA LLAMADA]</h3>
			<a class="cf-btn" href="/">CTA</a>
			<p class="text-center mt-4 text-[14px] text-white/80">PD: [GARANTIA || URGENCIA REAL]</p>
		</div>
	</section>

	<section class="pt-[60px] pb-8 bg-white">
		<div class="max-w-[700px] mx-auto px-4">
			<p class="text-gray-950 text-[18px]">
				Es una consulta 100% gratis en la que vamos a ver:
				<br><br>
				[BENEFICIO 1 DE ENTRAR A LA LLAMADA]
				<br>
				[BENEFICIO 2 DE ENTRAR A LA LLAMADA]
				<br>
				[BENEFICIO 3 DE ENTRAR A LA LLAMADA]
				<br><br>
				La decisión es tuya.
				<br><br>
				Podes quedarte donde estas ahora.
				<br><br>
				O darte la oportunidad de hacer las cosas como corresponde.
				<br><br>
				Y dejar de [DOLOR] de una vez por todas.
				<br><br>
				¿Estas?
				<br><br>
				👇
			</p>
		</div>
	</section>

	<section>
		<div class="py-8 px-4">
			<h3 class="text-center text-white mb-4 font-bold italic">Agenda una llamada conmigo y [BENEFICIO DE LA LLAMADA]</h3>
			<a class="cf-btn" href="/">CTA</a>
			<p class="text-center mt-4 text-[14px] text-white/80">PD: [GARANTIA || URGENCIA REAL]</p>
		</div>
	</section>

	<footer class="bg-white pt-8">
		<p class="text-center text-[16px] text-black/70 pb-8">
			© [NEGOCIO] 2025. Todos los derechos reservados.
		</p>
	</footer>

</Layout>