---
import textDecorator from "../../assets/img/text-decorator.png";

const { text, class: className, leftAlign } = Astro.props;
---

<h2
  class:list={[
    "decorated-title",
    "text-[28px]",
    "font-bold",
    "text-white",
    "text-center",
    "uppercase",
    "max-w-[600px]",
    "leading-[120%]",
    "mx-auto",
    "w-fit",
    "mb-4",
    className,
  ]}
>
  {text}
</h2>

<style define:vars={{ decoratorUrl: `url(${textDecorator.src})` }}>
  .decorated-title::before {
    content: var(--decoratorUrl);
    display: inline-block;
    width: 17.26px;
    margin-right: 2px;
    transform: translateY(-12px);
  }
</style>
